<!-- PROJECT_ROOT=... roslaunch kitti_detection autoware_detection.launch -->
<launch>
  <!-- [BEGIN] Input -->
  <arg name="input_points" default="/kitti/velo/pointcloud" />
  <arg name="input_image" default="/kitti/camera_color/left/image_rect_color" />
  <arg name="input_camera_info" default="/kitti/camera_color/left/camera_info" />
  <!-- <arg name="input_tf" default="/tf_static" /> -->
  <!-- [END] Input -->
  <!-- [BEGIN] Output -->
  <arg name="output_lidar_objects" default="/detection/lidar_objects" />
  <arg name="output_image_objects" default="/detection/image_objects" />
  <arg name="output_fused_objects" default="/detection/fused_objects" />
  <arg name="output_fused_objects_markers" default="/detection/fused_objects_markers" />
  <!-- [END] Output -->
  <!-- [BEGIN] For lidar_point_pillars -->
  <arg name="baselink_support" default="true" />
  <arg name="reproduce_result_mode" default="true" />
  <arg name="score_threshold_point_pillars" default="0.5" />
  <arg name="nms_overlap_threshold" default="0.5" />
  <arg name="pfe_onnx_file" default="$(env PROJECT_ROOT)/src/third_party/kitti_pretrained_point_pillars/pfe.onnx" />
  <arg name="rpn_onnx_file" default="$(env PROJECT_ROOT)/src/third_party/kitti_pretrained_point_pillars/rpn.onnx" />
  <!-- [END] For lidar_point_pillars -->
  <!-- [BEGIN] For vision_darknet_detect (Yolo v3) -->
  <arg name="gpu_device_id" default="0" />
  <arg name="score_threshold_darknet" default="0.30" />
  <arg name="nms_threshold" default="0.30" />
  <arg name="network_definition_file" default="$(find vision_darknet_detect)/darknet/cfg/yolov3.cfg" />
  <arg name="pretrained_model_file" default="$(find vision_darknet_detect)/darknet/data/yolov3.weights" />
  <arg name="names_file" default="$(find vision_darknet_detect)/darknet/cfg/coco.names" />
  <!-- [END] For For vision_darknet_detect (Yolo v3) -->
  <!-- [BEGIN] For range_vision_fusion -->
  <arg name="min_car_dimensions" default="[3,2,2]" />
  <arg name="min_person_dimensions" default="[1,2,1]" />
  <arg name="min_truck_dimensions" default="[4,2,2]" />
  <arg name="sync_topics" default="false" />
  <arg name="overlap_threshold" default="0.6" />
  <!-- [END] For range_vision_fusion -->

  <node pkg="lidar_point_pillars" type="lidar_point_pillars" name="lidar_point_pillars" output="screen">
    <remap from="/input_points" to="$(arg input_points)" />
    <remap from="/output_objects" to="$(arg output_lidar_objects)" />

    <param name="baselink_support" value="$(arg baselink_support)" />
    <param name="reproduce_result_mode" value="$(arg reproduce_result_mode)" />
    <param name="score_threshold" value="$(arg score_threshold_point_pillars)" />
    <param name="nms_overlap_threshold" value="$(arg nms_overlap_threshold)" />
    <param name="pfe_onnx_file" value="$(arg pfe_onnx_file)" />
    <param name="rpn_onnx_file" value="$(arg rpn_onnx_file)" />
  </node>

  <node pkg="vision_darknet_detect" name="vision_darknet_detect" type="vision_darknet_detect" output="screen">
    <remap from="/input_image" to="$(arg input_image)" />
    <remap from="/output_objects" to="$(arg output_image_objects)" />

    <param name="network_definition_file" type="str" value="$(arg network_definition_file)" />
    <param name="pretrained_model_file" type="str" value="$(arg pretrained_model_file)" />
    <param name="score_threshold" type="double" value="$(arg score_threshold_darknet)" />
    <param name="nms_threshold" type="double" value="$(arg nms_threshold)" />
    <param name="gpu_device_id" type="int" value="$(arg gpu_device_id)" />
    <param name="names_file" type="str" value="$(arg names_file)" />
  </node>

  <node name="range_vision_fusion_01" pkg="range_vision_fusion" type="range_vision_fusion" output="screen">
    <remap from="/input_range_objects" to="$(arg output_lidar_objects)" />
    <remap from="/input_vision_objects" to="$(arg output_image_objects)" />
    <remap from="/input_camera_info" to="$(arg input_camera_info)" />
    <remap from="/output_fused_objects" to="$(arg output_fused_objects)" />

    <param name="min_car_dimensions" value="$(arg min_car_dimensions)" />
    <param name="min_person_dimensions" value="$(arg min_person_dimensions)" />
    <param name="sync_topics" value="$(arg sync_topics)" />
    <param name="overlap_threshold" value="$(arg overlap_threshold)" />
  </node>

  <node pkg="detected_objects_visualizer" type="visualize_detected_objects" name="point_pillars_visualization_01"
    output="screen">
    <remap from="/input_objects" to="$(arg output_fused_objects)" />
    <remap from="/output_objects_markers" to="$(arg output_fused_objects_markers)" />
  </node>

</launch>