[submodule "src/third_party/autoware.ai/common"]
	path = src/third_party/autoware.ai/common
	url = https://gitlab.com/autowarefoundation/autoware.ai/common
[submodule "src/third_party/autoware.ai/messages"]
	path = src/third_party/autoware.ai/messages
	url = https://gitlab.com/autowarefoundation/autoware.ai/messages
[submodule "src/third_party/autoware.ai/visualization"]
	path = src/third_party/autoware.ai/visualization
	url = https://gitlab.com/autowarefoundation/autoware.ai/visualization
[submodule "src/third_party/yolo"]
	path = src/third_party/yolo
	url = https://github.com/eriklindernoren/PyTorch-YOLOv3
[submodule "src/third_party/autoware.ai/core_perception"]
	path = src/third_party/autoware.ai/core_perception
	url = https://gitlab.com/autowarefoundation/autoware.ai/core_perception
[submodule "src/third_party/kitti_pretrained_point_pillars"]
	path = src/third_party/kitti_pretrained_point_pillars
	url = https://github.com/k0suke-murakami/kitti_pretrained_point_pillars
[submodule "utils"]
	path = utils
	url = https://github.com/yusanshi/utils
[submodule "src/third_party/autoware.ai/utilities"]
	path = src/third_party/autoware.ai/utilities
	url = https://gitlab.com/autowarefoundation/autoware.ai/utilities
