<!-- Remember to: IPC_FILE_PATH=/tmp/example.ipc python3.6 server.py -->
<launch>
  <arg name="input_image" default="/kitti/camera_color/left/image_rect_color" />
  <arg name="output_image_objects" default="/detection/image_objects" />
  <arg name="output_image_rects" default="/detection/image_rects" />
  <arg name="ipc_file_path" default="$(env IPC_FILE_PATH)" />
  <node name="image_detection" pkg="image_detection" type="image_detection_handler" output="screen">
    <remap from="/input_image" to="$(arg input_image)" />
    <remap from="/output_objects" to="$(arg output_image_objects)" />

    <param name="ipc_file_path" type="str" value="$(arg ipc_file_path)" />
  </node>
  <node name="detected_objects_visualizer" pkg="detected_objects_visualizer" type="visualize_rects" output="screen">
    <remap from="/input_objects" to="$(arg output_image_objects)" />
    <remap from="/input_image" to="$(arg input_image)" />
    <remap from="/output_image" to="$(arg output_image_rects)" />
  </node>
</launch>